@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "RubikOne-Regular";
  src: url("../fonts/RubikOne-Regular.ttf");
}

@font-face {
  font-family: "RubikMonoOne-Regular";
  src: url("../fonts/RubikMonoOne-Regular.ttf");
}

#tictac-div {
  height: 125.3333px;
  width: 97.3333px;
  /*border:1px solid black;*/
  float: left;
  margin-left: 30.333px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #152148;
  font-family: "RubikOne-Regular";
  background-color: #ecf3fb;
  justify-content: center;
}

h2 {
  float: left;
  color: #ed55a9;
  font-family: "RubikMonoOne-Regular";
}

.navbar {
  background-color: transparent;
  border-color: transparent;
}

.btn-default {
  float: right;
  margin: 2%;
  background-color: #ed55a9;
  border-color: transparent;
  border-radius: 20px;
}

.player {
  width: 150px;
  background-color: #ecf3fb;
  border-radius: 20px;
  margin-bottom: 20px;
}
